<h1>Subscriber</h1>
<div class="search">
  <div>
    <mat-form-field>
      <mat-label>Channel</mat-label>
      <mat-select [formControl]="channelFormControl" [disabled]="isSubscribing">
        <mat-option *ngFor="let channel of channels" [value]="channel">
          {{channel}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="toogleSubscribe()">
      {{
      isSubscribing ?
      'Stop Listening' :
      'Listen'
      }}
    </button>
  </div>
</div>

<div *ngFor="let news of newsList">
  <app-news [title]="news?.title" [description]="news?.description" [image]="news.image" [url]="news?.url"
    [publisherId]="news?.publisherId"></app-news>
</div>
